<!-- Student name: wsiu11 -->
<!-- Student ID: 301272297 -->
<!-- Filename: index.ejs -->
<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs') %>

<main class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <h1>
            <% if (title=="Home") { %>
                <%- include('partials/home.ejs') %>
            <% } else if (title=="About me") { %>
                <%- include('partials/about.ejs') %>
            <% } else if (title=="Projects") { %>
                <%- include('partials/projects.ejs') %>
            <% } else if (title=="Services") { %>
                <%- include('partials/services.ejs') %>
            <% } else if (title=="Contact me") { %>
                <%- include('partials/contact.ejs') %>
            <% } %>
        </h1>
    </div>
</main>



<%- include('partials/bottom_nav.ejs') %>

<%- include('partials/footer.ejs') %>